
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #fff;
    color: #333;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #d8d2d2;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none ;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    padding: 10px 18px;
    border-radius: 20px;
    transition: 0.3s;
}

.nav-links .active,
.nav-links a:hover {
    background: #0eead6;
    color: #000;
}


.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 40px;
}

.finder-btn {
    background: #0eead6;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

/* HEADING */
.section-heading {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    font-weight: 700;
}
.section-heading .active,
.section-heading a:hover {
    background: #0eead6;
    color: #000;
}

.divider {
    width: 90%;
    height: 2px;
    background: #ccc;
    margin: 10px auto 40px;
}

/* MAIN IMAGE */
.image-section {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.image-section img {
    width: 95%;
    border-radius: 25px;
}

/* INFO CARDS */
.info-row {
    width: 90%;

    margin: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.info-card {
    width: 45%;

    min-width: 300px;
    padding: 25px;
    border-radius: 20px;
    border: 1px solid #0eead6;
     box-shadow: 5px 5px 5px 5px ;
      background: inherit;
      backdrop-filter: blur(100px);
}
.info-card h1 {
    font-size: 40px;
    text-align: center;
    font-weight:bolder;
}
.info-card p {
   font-size: 22px;
    margin-top: 10px;
    line-height: 1.5;
}




.offer-img {
    width: 100%;
    border-radius: 20px;
}

/* MISSION */
.mission {
    width: 84%;
    margin: 50px auto;
    padding: 35px;
    border: 1px solid #0eead6;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px ;
      background: inherit;
      backdrop-filter: blur(100px);
}

.mission h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.mission p {
    font-size: 22px;
    margin-top: 10px;
    line-height: 1.5;
    text-align:left;
}

/* FOOTER */
.footer {
    width: 100%;
    background: #000;
    color: white;
    padding: 10px 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social-icon {
    width: 40px;
    height: 40px;
    background: white;
    color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.footer-links {
    display: flex;
    gap: 30px;
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.footer-links a:hover {
    opacity: 0.7;
}

